@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: #696969;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 85%;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#heading {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.btn {
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    background: transparent;
    border: none;
    border-radius: 6px;
    color: #fff;
    box-shadow: 2px 2px 8px #000;
}

#hex-val {
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}