* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #f47568, #d44986);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 12px #000;
}