@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* navbar styling */

nav {
    background: #232f3e;
    text-align: center;
}

.logo {
    width: 10em;
    padding: 1.5em 1em 1em;
}


/* main content styling */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
}

.description h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.btn {
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.color-btn {
    padding: 1.5em;
    margin-right: 0.7em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.blue-btn {
    background: #565681;
}

.black-btn {
    background: #000;
}

.pink-btn {
    background: #cf17b1;
}

.red-btn {
    background: #cc1212;
}

.purple-btn {
    background: #800080;
}

.features {
    margin-bottom: 1.5em;
}

.feature-btn {
    padding: 0.7em 1em;
    font-size: 1rem;
    background: #ccc;
    margin-right: 0.8em;
}

.buy-btn {
    padding: 0.7em 1.5em;
    font-size: 1.7rem;
    background: #ef8e1c;
}

@media (max-width:700px) {
    html {
        font-size: 14px;
    }
    .description h1 {
        font-size: 2rem;
    }
    .txt-center {
        text-align: center;
    }
}