body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

nav {
    height: 20px;
    float: right;
    padding-right: 12px;
}

.menu-item {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    top: -7px;
    padding: 8px;
}

.menu-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

#menu-item-image {
    width: 32px;
    height: 32px;
    border-radius: 24px;
    margin-left: 8px;
    position: relative;
    top: 3px;
}

.material-icons {
    margin: 10px;
    cursor: pointer;
}

#dropdown-menu-card {
    width: 285px;
    padding: 28px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    display: none;
    position: absolute;
    right: 80px;
    top: 50px;
}

#apps {
    display: inline-block;
}

#apps:hover

#dropdown-menu-card {
    display: inline-block;
}

#dropdown-menu:hover {
    cursor: pointer;
}

.app-item {
    display: inline-block;
    width: 84px;
    padding: 8px 2px;
    text-align: center;
}

.app-item > img {
    width: 50px;
    height: 50px;
}

.app-item > p {
    color: black;
}

.app-item:hover {
    border: 1px solid black;
    border-radius: 8px;
}

#main-image {
    margin-top: 200px;
    padding-left: 40%;
}

#search-bar {
    margin-top: 24px;
    margin-left: 30%;
    width: 582px;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 16px;
    padding: 14px;
    padding-right: 45px;
    border-radius: 24px;
    outline: none;
}

#search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0) ;
}

#search-bar:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0) ;
}

#voice-icon {
    margin-top: 24px;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 1000px;
    top: 312px;
}

#voice-icon:hover {
    cursor: pointer;
}

#button-container {
    padding-left: 620px;
    padding-top: 32px;
}

.button {
    background-color: #f2f2f2;
    color: #5f6368;
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    outline: none;
    border-radius: 5px;
}

.button:hover {
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1pxx 1px rgba(0, 0, 0, 0.1);
    color: #222;
}
